svg { width:96%; display:block; margin:0.25em auto 1em; }
svg text { cursor:default; user-select:none; }

.rangeButton rect { fill: #ddd; stroke: #666; }
.rangeButton text { fill: #222; }
.rangeButton:hover rect { stroke: #679; }
.rangeButton:hover text { fill: #236; }
.rangeButton.selected rect { fill: #ee6; }

.dBScaler { opacity:0.15; }
.dBScaler circle,.dBScaler rect { cursor:move; }
.dBScaler:hover,.dBScaler.active { opacity:1; }

body { margin:0px; }
table { border-collapse: collapse; }
.select { float:left; }
.select,.curves { width:48%; margin:0 1%; font-size:large; }
.curves tbody { border-bottom: 3px solid white; }

.remove { width:1.4em; cursor:pointer; font-size:120%; text-align:center; }
.remove:hover { color:#713; }

/* For headphone as opposed to brand in current headphone table */
.phonename { font-weight:bold; }

.keyLine {
    height:3.5px; border-radius:1.75px; width:1.5em;
    display:inline-block; margin:0.25em;
}

tr { background-color:#eee; }
.scroll { height:7.6em; overflow:auto; overflow-x:hidden; }
.scroll table { width:24vw; }
.scroll tr { cursor:pointer; }
.scroll tr:hover,.scroll tr.active { background-color:#bbb; }
