body>div { height:100vh; display:flex; flex-direction:column; }
#fr-graph { flex:none; max-height:calc(100vh - 12em); margin:0.25em auto 1em; }
svg text { cursor:default; user-select:none; }
.controls { flex:auto; display:flex; flex-flow:row-reverse wrap; }
.controls>div { margin:0 0.8em; font-size:large; }
.manage,.select { flex:1; }
.select { display:flex; flex-direction:column; border-bottom:2px solid #223; }
.select>div { flex:auto; display:flex; position:relative; }
.tools { position:fixed; bottom:0; right:0; padding:3px 0.6em; }
@media only screen and (max-width:70em) {
    @media (max-aspect-ratio:5/3) {
        .controls { flex-flow:column; }
        .manage { flex:0; }
        .tools { display:none; }
    }
    @media not (max-aspect-ratio:5/3) , (max-width:40em) {
        #fr-graph { margin:0 auto; }
        .controls>div { margin:0; }
    }
}
@media only screen and (min-aspect-ratio:9/4) {
    body>div { flex-direction:row; }
    #fr-graph { max-height:100vh; height:100vh; max-width:calc(100vw - 30em); margin:0; }
    .controls { flex-flow:column; }
    .manage { flex:0; }
    .controls>div { margin:0; }
    .tools { position:static; width:auto; }
}

path.highlight { stroke-width:3.3px; }
tr.highlight { box-shadow:inset 0 0 1.5em 0.2em; }
.curves tr td { color:initial; }

.rangeButton rect { fill: #ddd; stroke: #666; }
.rangeButton text { fill: #222; }
.rangeButton:hover rect { stroke: #679; }
.rangeButton:hover text { fill: #236; }
.rangeButton.selected rect { fill: #ee6; }

.dBScaler { opacity:0.15; }
.dBScaler circle,.dBScaler rect { cursor:move; }
.dBScaler:hover,.dBScaler.active { opacity:1; }

body { margin:0px; }
table { border-collapse: collapse; }
tr,td { padding:0px; }
.curves { width:100%; position:relative; z-index:1; }
.curves tr { border-bottom: 3px solid white; }

.remove { cursor:pointer; text-align:center; }
.remove:hover { color:#713; }
span.remove { float:right; font-size:95%; width:1em; }

td.remove       { width:1.4em; font-size:120%; }
/*.phoneId*/
.key            { width:16%; }
.calibrate      { width:2.3em; }
.baselineButton { width:8%; }
.hideButton     { width:8%; }
.pinButton      { width:6%; }

/* For headphone as opposed to brand in current headphone table */
.phonename { font-weight:bold; display:inline; position:relative; }
.phonename div {
    position:absolute; top:0; white-space:nowrap;
    z-index:2; cursor:pointer; height:1.3em;
    background:rgba(238,238,238,0.7);
}
.variantName { left:-3px; padding-left:1px; border-left:2px solid #a61; }
.variantPopout { opacity:0.65; }
.phonename div:hover { color:#a61; }

.keyLine { max-height:3em; display:block; vertical-align:center; }
.keyLine path {
    stroke-width:0.3vw; vector-effect:non-scaling-stroke;
    fill:none; stroke-linecap:round; stroke-linejoin:round;
}
.keySel rect,.keySelBoth { cursor:pointer; }

.pinMark { float:right; width:80%; margin-right:-8.6%; margin-bottom:0.6em; }

tr { background:#eee; }
.scrollOuter { flex:1; position:relative; }
.scroll {
    position:absolute; left:0; right:0; top:0; bottom:0;
    overflow:auto;
    display:flex; flex-direction:column;
}
.scroll div { border-left:0.3em solid #223; padding-left:0.2em; cursor:pointer; }
.scroll div:hover,.scroll div.active { background:#bbb; }
.scroll div.active { border-left:0.3em solid #5ce; }
.scroll div:hover  { border-left:0.3em solid #fd0; }

.search {
    flex:none;
    padding:2px; padding-left:1.2em; height:1.3em; line-height:1.3em;
    border:1px solid #bbb;
}
.search,input[type=number] { box-shadow:inset 0 0.1em 0.3em #fec; }
.chevron { height:1.3em; width:0.9em; position:absolute; top:-1.3em; fill:#223; }
.stop { height:0.35em; position:absolute; right:0; bottom:0; fill:#223; }
.scroll div { background:white; }

button {
    border:none; background:#dbd8dd; position:relative; font-size:smaller;
    height:1.5em; width:90%; margin-left:auto; margin-right:auto;
}
button:hover { color: #124; }
button:hover:before,button:hover:after { border-color: #9ac; color: #124; }
button:before,button:after {
  border:2px groove #ddd; content:'';
  position:absolute; top:0; bottom:0; width:0.3em;
}
button:before { border-right:0; left:0; }
button:after { border-left:0; right:0; }
button.selected { background-color: #dd9; }

.button {
    position:relative; cursor:default; background:#dbd8dd;
    font-size:smaller; text-align:center; line-height:1.15;
}
.button:hover { color: #124; }
.button:hover:before,.button:hover:after { border-color: #9ac; color: #124; }
.button:before,.button:after {
  border:2px groove #ddd; content:'';
  position:absolute; top:0; bottom:0; width:0.3em;
}
.button:before { border-right:0; left:0; }
.button:after { border-left:0; right:0; }
.button.selected { background-color: #dd9; }

.keyOnly { fill:#555; }
.keyOnly:hover { fill:#124; }
.imbalance { fill:#e11; font-weight:bold; pointer-events:none; }

input[type=number] {
    width:2.3em; border:2px groove #ddd; height:1.25em;
}

.variants {
    float:right; margin-right:0.3em;
    cursor:pointer;
    font-size:160%; line-height:0.4em; color:#333;
    outline:none;
}
.variants:hover { color:#124; }

.tooltip { pointer-events:none; }
.tooltip rect { fill:rgba(255,255,255,0.6); }

.tools { background:#ced; border:1px solid #234; }
.tools button { width:auto; }
.tools * { display:inline-block; }
.tools span { font-size: smaller; }
.normalize { background:#bbd; padding:0px 3px; }
#norm-fr { width:2.7em; }
#norm-fr:invalid { background:#fbb; }
