body>div { height:100vh; display:flex; flex-direction:column; }
.graphBox { margin:0.25em auto 0.75em; }
#fr-graph { height:calc(100vw * 346 / 800); max-height:calc(100vh - 13.5em); max-width:100vw; }
svg text { cursor:default; user-select:none; }
.controls { flex:auto; display:flex; flex-flow:row-reverse wrap; }
.controls>div { margin:0 0.8em; font-size:large; }
.manage,.select { flex:1; }
.select { display:flex; flex-direction:column; border-bottom:2px solid #223; }
.select>div { flex:auto; display:flex; position:relative; }
.tools {
    display:flex; flex-wrap:wrap; justify-content:space-around;
    align-items:center; padding:0.2em 0; margin:-0.5em 1vw 0;
    border-radius:8px; background:#eee; font-size: smaller;
}
@media only screen and (max-width:70em) {
    @media (max-aspect-ratio:5/3) {
        .controls { flex-flow:column; }
        .manage { flex:0; }
    }
    @media not (max-aspect-ratio:5/3) , (max-width:40em) {
        #fr-graph { margin:0 auto; }
        .controls>div { margin:0; }
    }
}
@media only screen and (min-aspect-ratio:9/4) {
    body>div { flex-direction:row; }
    .graphBox { margin:auto; }
    #fr-graph { height:auto; max-height:calc(100vh - 3em); width:calc(100vw - 30em); }
    .controls { flex-flow:column; }
    .manage { flex:0; }
    .controls>div { margin:0; }
}

path.highlight { stroke-width:3.3px; }
tr.highlight { box-shadow:inset 0 0 1.5em 0.2em; }
td { color:initial; }

.dBScaler { opacity:0.22; fill:#404050; }
.dBScaler circle,.dBScaler rect { cursor:move; }
.dBScaler:hover,.dBScaler.active { opacity:1; }

body { margin:0px; }
table { border-collapse: collapse; }
tr,td { padding:0px; }
.manageTable { width:100%; position:relative; z-index:1; }
.manageTable tr { border-bottom: 3px solid white; }

.remove { cursor:pointer; text-align:center; }
.remove:hover { color:#713; }
span.remove { float:right; font-size:95%; width:1em; }

.addButton,
td.remove       { width:1.4em; font-size:120%; }
/*.phoneId*/
.key            { width:16%; }
.calibrate      { width:2.5em; }
.baselineButton { width:2.5em; }
.hideButton     { width:2em; }
.pinButton      { width:2.2em; }

.addPhone { background:white; height:1.95em; }
.addPhone:after {
  border:2px dashed #999; content:'';
  position:absolute; left:0; right:0; bottom:0.2em; height:1.4em;
  pointer-events:none;
}
.addButton { cursor:pointer; text-align:center; color:#444; }
.addButton:hover { color:#371; }
.helpText { color:#666; font-style:italic; font-size:0.7em; padding:0.1em 0.3em 0 0; }
.addPhone.selected { outline-color:#371; background:#dfe; }

/* For headphone as opposed to brand in current headphone table */
.phonename { font-weight:bold; display:inline; position:relative; }
.phonename div {
    position:absolute; top:0; white-space:nowrap;
    z-index:2; cursor:pointer; height:1.3em;
    background:rgba(238,238,238,0.7);
}
.variantName { left:-3px; padding-left:1px; border-left:2px solid #a61; }
.variantPopout { opacity:0.65; }
.phonename div:hover { color:#a61; }

.keyLine { max-height:2.3em; display:block; vertical-align:center; }
.keyLine path {
    stroke-width:0.3vw; vector-effect:non-scaling-stroke;
    fill:none; stroke-linecap:round; stroke-linejoin:round;
}
.keySel rect,.keySelBoth { cursor:pointer; }

.pinMark { float:right; width:80%; margin-right:-8.6%; margin-bottom:0.6em; }

tr { background:#eee; }
.scrollOuter { flex:1; position:relative; }
.scroll {
    position:absolute; left:0; right:0; top:0; bottom:0;
    overflow:auto;
    display:flex; flex-direction:column;
}
.scroll div { border-left:0.3em solid #223; padding-left:0.2em; cursor:pointer; }
.scroll div:hover,.scroll div.active { background:#bbb; }
.scroll div.active { border-left:0.3em solid #5ce; }
.scroll div:hover  { border-left:0.3em solid #fd0; }

.search {
    flex:none;
    padding:2px; padding-left:1.2em; height:1.3em; line-height:1.3em;
    border:1px solid #bbb;
}
.search,input[type=number] { box-shadow:inset 0 0.1em 0.3em #fec; }
.chevron { height:1.3em; width:0.9em; position:absolute; top:-1.3em; fill:#223; }
.stop { height:0.35em; position:absolute; right:0; bottom:0; fill:#223; }
.scroll div { background:white; }

button {
    border:none; background:#dbd8dd; position:relative;
    height:1.5em;
}
button:hover { color: #124; }
button:hover:before,button:hover:after { border-color: #9ac; color: #124; }
button:before,button:after {
  border:2px groove #ddd; content:'';
  position:absolute; top:0; bottom:0; width:0.3em;
}
button:before { border-right:0; left:0; }
button:after { border-left:0; right:0; }
button.selected { background-color: #dd9; }

.button {
    cursor:default;
    color:#181818; font-size:0.75em; text-align:center; line-height:1.15;
    border-left:2px solid white;
}
.button:hover { color: #126; }
.button.selected { background-color: #dd9; }

.button svg { display:block; margin:auto 0em; }
.button.hideIcon { color: #999; }
.button.hideIcon.selected { background:none; color: #b52; }
.button.hideIcon:hover { color: #359; }

.keyOnly { fill:#555; }
.keyOnly:hover { fill:#124; }
.imbalance { fill:#e11; font-weight:bold; pointer-events:none; }

input[type=number] { width:2.3em; border:1px solid #bbb; height:1.5em; }
.curves input[type=number] { display:block; margin-left:auto; margin-right:auto; }

.variants {
    float:right; width:0.95em; margin-right:0.3em;
    color:#333; cursor:pointer; outline:none;
}
.variants:hover { color:#124; }

.tooltip { pointer-events:none; }
.tooltip rect { fill:rgba(255,255,255,0.6); }

.tools * { display:inline-block; }
.zoom button { min-width:4em; }
.normalize span { padding-right:0.3em; }
#norm-phon { width:2.8em; }
#norm-fr { width:4em; }
.normalize input:invalid { background:#fbb; }
.normalize div.selected { margin-bottom:-3px; border-bottom:3px solid #221; background:#eeb; }
.normalize div span { cursor:pointer; }

.cash,.cashMessage,.fadeAll { position:fixed; text-align:center; z-index:10; }
.cashMessage {
    height:auto; top:calc(50vh - 7em); padding-top:0.5em; padding-bottom:2.5em;
    width:40em; left:calc(50vw - 20em);
    background:white;
    box-shadow:0 0 20px 6px #444;
}
.fadeAll,.cash { left:0; right:0; }
.fadeAll { z-index:9; top:0; bottom:0; background:rgba(255,255,255,0.3); }
.cashMessage button { width:50%; margin:0px auto; }
.cash { font-size:30em; top:calc(50vh - 0.6em); pointer-events:none; }
