html,.addPhone { background:white; }
.manageTable tr:not(.addPhone) { border-bottom-color: white; }
.button { border-left-color:white; }
.tools { background:#ebf0ed; }
tr { background:#ebeeee; }
.keyBackground { stroke:#ebeeee; }
button { background:#dddbce; }
button:before,button:after { border-color:#dde4a0; }
.button.selected { background-color: #e4eb6c; }
.normalize div.selected { border-bottom-color:#21150f; background:#cde4aa; }
